<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>მომხმარებელი: <%= @name %></p>
    <p>ელექტრონული ფოსტა: <%= @mail %></p>
    <p>
      <%= @message %>
      <br>
    </p>
  </body>
</html>
